@import "./variables";
@import "./colors";
@import "./fonts";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 14px;
    font-family: Montserrat-Bold;
}

body{
    width: 100%;
    height: 100vh;
    background-color: $black_color;
    color: $whrite_color;
}

.navbar{
    transition: 0.4s; /* Adds a transition effect when the padding is decreased */
    top: 0; /* At the top */
    z-index: 99;
}

#text-meio-top span{
    font-size: 18px;
    padding-top: 8px;
    font-family: Montserrat-Light;

}

.btn-danger{
    background-color: $bg_danger;
    border-radius: 50px;
    padding-left: 20px;
    padding-right: 20px;
    text-transform: uppercase;
    font-size: 18px;
}


#top-1{
    background-image: url('../img/bg-1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
    #text-inform{
        padding-top: 30px;
        p{
            font-family: Montserrat-Light;
        }
    }
    #image-1 img{
        padding-top: 30px;
    }
}

#top-2{
    background-color: $bg_danger;
    .elemento-one{
        padding-top: 40px;
        padding-bottom: 40px;
        font-size: 40px;
    }
}

#top-3{
    padding-top: 40px;
    padding-bottom: 40px;

    .card{
        color: $text_main;
        padding-top: 40px;
        padding-bottom: 40px;
        margin-left: 10px;
        margin-right: 10px;
        i{
            font-size: 45px;
            margin-bottom: 10px;
        }
        p{
            font-family: Montserrat-Light;
            padding-top: 20px;
        }
    }
    .elemento-two{
        padding-top: 40px;
        padding-bottom: 40px;
    }
}



.bg-dark{
    background-color: $text_main !important;
    border-bottom: 2px #181616 solid;    
}

@media (max-width: 1024px) {
    #text-meio-top{
        display: none !important;
    }

    .card-group{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

}

@media (max-width: 600px) {
    #text-meio-top{
        display: none !important;
    }
}